@page "/ban-dien-thoai"

<div class="container">
    <h2>Danh Sach Dien Thoai</h2>
    <div class="row">
        @foreach (PhoneVM item in ds)
        {
            <div class="col-3">
                <DienThoai phoneItem="@item" XemChiTiet="@ChonDienThoai" />
            </div>
        }
    </div>
    @* chi tiet 1 cai dc chon *@
    @if (dtDuocChon != null)
    {
        <div class="col-5">
            <h3>Chi tiet dien thoai</h3>
            <p>Tên: @dtDuocChon.Name</p>
            <p>Giá: @dtDuocChon.Price</p>
            <img src="@dtDuocChon.ImageUrl" alt="@dtDuocChon.Name" style="width: 100%;" />
        </div>
    }
</div>

@code {
    List<PhoneVM> ds = new List<PhoneVM>
{
new PhoneVM { Id = 1, Name = "Iphone 14 Pro Max", Price = 30000000,
ImageUrl="products/black-car.jpg"},
new PhoneVM { Id = 2, Name = "Samsung S23 Ultra", Price = 25000000,
ImageUrl="products/red-car.jpg" },
new PhoneVM { Id = 3, Name = "Xiaomi 13 Pro", Price = 20000000,
ImageUrl="products/silver-car.jpg" },
new PhoneVM { Id = 4, Name = "Oppo Find X5 Pro", Price = 22000000,
ImageUrl="products/steel-car.jpg" }
};
    PhoneVM dtDuocChon { get; set; }
    void ChonDienThoai(PhoneVM dt)
    {
        dtDuocChon = dt;
    }
}